body {
    background-color: white;
    width:100%;
    margin: 0px;
    font-family: Arial;
}

.main-navigation .menu > li > a::after {
  content: none;
}

.headerbild {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  padding-left: 15px;
  padding-right: 10px;
}


h1 a:link, nav a:visited, nav a:active {
    color: black;
    text-decoration: none;
    letter-spacing: 10px;
    background-color: #000000
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}

h1 a:hover {
    color: white;
    background-color: #000000
    transition: all 0.3s ease-out 0s;
}

IMG.headerbild {
    display: block;
    margin-left: auto;
    margin-right: auto }

IMG.headerbild {
    border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img.headerbild:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 2;
    padding: 2;
    overflow: hidden;
    background-color: #fed9e7;
}

nav li {
    display: inline-block;
}

nav ul {
    text-align: center;
}

nav a {
    list-style-type: none;
    display: inline;
    align: center;
    color: #fed9e7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.sf-menu {
   list-style: none;
   list-style-type: none;
   padding: 2px;
}

.sf-menu ul {
   list-style: none;
   list-style-type: none;
   padding: 2px;
}

nav a:link, a:visited {
    color: #000000;
    padding-bottom: 2px;
    font-weight: bold;
    transition: all 0.3s ease-out 0s;
    }

nav a:link, nav a:visited {
    color: black;
    transition: all 0.3s ease-out 0s;
}

nav a:hover, nav a:active {
    color: white;
    background-color: #fed9e7
    font-weight: lighter;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}

table {
    margin: auto;
    margin-top: 40.2px;
}

.name {
    font-weight: bold;
    text-align: right;
    padding-right: 22px;
}

#contentfeld_container {
  width: 80%;
  padding-top: 900px;
  margin: auto;
  padding: 20px;
  border: 1px solid #666;
  background: green;
  }


  #mittelfeld {
    background: #fed9e7 none repeat scroll 0 0;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 900px;
    padding-top: 20px;
}

.wir_foto {
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wirzwei {
  margin-top: 40.2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.wir2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#testklein {

}
